<button class="open-modal">Novo anúnico</button>

<form class="pesquisar-anuncios">
    <label>
        <span>Qtde. hospedes</span>
        <input name="hospedes" type="number" placeholder="Quantidade hospedes." />
    </label>
    <label>
        <span>Acomodação</span>
        <select name="bairro">
            <option value="">Selecione o bairro</option>
            <option value="Altiplano">Altiplano</option>
            <option value="Bancários">Bancários</option>
            <option value="Bessa">Bessa</option>
            <option value="Cabo Branco">Cabo Branco</option>
            <option value="Camboinha">Camboinha</option>
            <option value="Intermares">Intermares</option>
            <option value="Jardim Oceania">Jardim Oceania</option>
            <option value="Manaira">Manaira</option>
            <option value="Portal do Sol">Portal do Sol</option>
            <option value="Tambaú">Tambaú</option>
        </select>
        </select>
    </label>
    <label>
        <span>Check-in</span>
        <input name="check_in" type="datetime-local" required />
    </label>
    <label>
        <span>Check-out</span>
        <input name="check_out" type="datetime-local" required />
    </label>
    <label title="Clique para pesquisar acomodações livre para anuncios.">
        <span>&nbsp;</span>
        <button>Pesquisar</button>
    </label>
</form>


<div class="title">LISTA DE ANÚNCIOS</div>

<div class="modal">
    <div class="header">
        <strong class="title">Cadastrar anuncios</strong>
        <span class="material-icons close-modal">close</span>
    </div>
    <div class="content">
        <form class="cadastro-anuncios"><label>
                <span>Nome</span>
                <input name="nome" placeholder="Ex.: Maravilhoso apartamento em JP" required />
            </label>
            <label>
                <span>Bairro</span>
                <select name="bairro" required>
                    <option value="">Selecione o bairro</option>
                    <option value="Altiplano">Altiplano</option>
                    <option value="Bancários">Bancários</option>
                    <option value="Bessa">Bessa</option>
                    <option value="Cabo Branco">Cabo Branco</option>
                    <option value="Camboinha">Camboinha</option>
                    <option value="Intermares">Intermares</option>
                    <option value="Jardim Oceania">Jardim Oceania</option>
                    <option value="Manaira">Manaira</option>
                    <option value="Portal do Sol">Portal do Sol</option>
                    <option value="Tambaú">Tambaú</option>
                </select>
            </label>
            <label>
                <span>Hospedes</span>
                <input name="hospedes" type="number" placeholder="Ex.: 6" required />
            </label>
            <label>
                <span>Proprietario</span>
                <input name="proprietario" placeholder="Ex.: Adriana" required />
            </label>
            <label>
                <span>Pix</span>
                <input name="pix" placeholder="Ex.: 82981761793" required />
            </label>
            <label>
                <span>Link</span>
                <input name="url" placeholder="Ex.: https://www.airbnb.com.br/rooms/1255592429323069919" required />
            </label>
            <label>
                <span>Comissão</span>
                <input name="comissao" type="number" placeholder="Ex.: 20" required />
            </label>
            <label>
                <span>&nbsp;</span>
                <button>Cadastrar</button>
            </label>
            <input name="_id" type="hidden" value="" />
        </form>
    </div>
</div>
<div class="list">
    <table>
        <thead>
            <tr>
                <td width="3%"></td>
                <td width="25%">NOME</td>
                <td width="12%">BAIRRO</td>
                <td width="10%">HOSPEDES</td>
                <td width="17%">PROPRIETÁRIO</td>
                <td width="20%">PIX</td>
                <td width="10%">COMISSÃO</td>
                <td width="3%"></td>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td title="Clique para deletar a reserva">
                    <span id="{{ _id }}" class="material-icons anuncios">edit</span>
                </td>
                <td>{{nome}}</td>
                <td>{{bairro}}</td>
                <td>{{hospedes}}</td>
                <td>{{proprietario}}</td>
                <td>{{pix}}</td>
                <td>{{comissao}}</td>
                <td>
                    <span title="Clique para copiar o link da própriedade" url="{{ url }}"
                        class="material-icons copy">content_copy</span>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <p class="message">Nenhuma propriedade cadastrada.</p>
</div>
<script src="/js/anuncios.js"></script>