<link rel="stylesheet" href="../css/despesas.css" />

<button class="open-modal">Nova despesa</button>

<form class="pesquisar-despesas">
    <label>
        <span>Acomodação</span>
        <select name="acomodacao">
            <option value="">Selecione uma acomodação</option>
            {{#each anuncios}}
            <option value="{{ nome }}">{{ nome }}</option>
            {{/each}}
        </select>
    </label>
    <label>
        <span>Data Início</span>
        <input name="inicio" type="datetime-local" required />
    </label>
    <label>
        <span>Data final</span>
        <input name="fim" type="datetime-local" required />
    </label>
    <label title="Clique para pesquisar.">
        <span>&nbsp;</span>
        <button>Pesquisar</button>
    </label>
    <label title="Clique para baixar o pdf.">
        <span>&nbsp;</span>
        <button type="button">Download</button>
    </label>
</form>
<div class="total">
    <div>
        <strong>Entradas:</strong>
        <span class="entradas">{{ total.entradas }}</span>
    </div>
    <div>
        <strong>Saidas:</strong>
        <span class="saidas">{{ total.saidas }}</span>
    </div>
    <div>
        <strong>Comissão:</strong>
        <span class="comissao">{{ total.comissao }}</span>
    </div>
    <div>
        <strong>Líquido:</strong>
        <span class="liquido">{{ total.liquido }}</span>
    </div>
</div>

<div class="title">LISTA DE DESPESAS</div>

<div class="modal">
    <div class="header">
        <strong class="title">Cadastrar despesas</strong>
        <span class="material-icons close-modal">close</span>
    </div>
    <div class="content">
        <form class="cadastro-despesas">
            <label>
                <span>Descrição</span>
                <input name="descricao" placeholder="Ex.: Conjunto de copos" required />
            </label>
            <label>
                <span>Valor</span>
                <input type="number" name="valor" placeholder="Ex.: 20" required />
            </label>
            <label>
                <span>Acomodação</span>
                <select name="acomodacao" required>
                    <option value="">Selecione uma acomodação</option>
                    {{#each anuncios}}
                    <option value="{{ nome }}">{{ nome }}</option>
                    {{/each}}
                </select>
            </label>
            <label>
                <span>&nbsp;</span>
                <button>Cadastrar</button>
            </label>
        </form>
    </div>
</div>
<div class="lista-despesas">
    <table>
        <thead>
            <tr>
                <td width="3%"></td>
                <td width="33%">ACOMODAÇÃO</td>
                <td width="33%">DESCRIÇÃO</td>
                <td width="15.5%">VALOR</td>
                <td width="15.5%">CRIADO EM</td>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td title="Clique para deletar a reserva">
                    <span id="{{ _id }}" class="material-icons despesas">delete</span>
                </td>
                <td>{{descricao}}</td>
                <td>{{acomodacao}}</td>
                <td>{{valor}}</td>
                <td>{{created_at}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <p class="message">Nenhuma despesa cadastrada.</p>
</div>
<script src="/js/despesas.js"></script>