<button class="open-modal">Nova reserva</button>

<form class="pesquisar-reservas">
    <label>
        <span>Nome hospede</span>
        <input name="nome" placeholder="Digite o nome do hospede." />
    </label>
    <label>
        <span>Acomodação</span>
        <select name="acomodacao">
            <option value="">Selecione uma acomodação</option>
            {{#each anuncios}}
            <option value="{{ nome }}">{{ nome }}</option>
            {{/each}}
        </select>
    </label>
    <label>
        <span>Check-in</span>
        <input name="start" type="datetime-local" required />
    </label>
    <label>
        <span>Check-out</span>
        <input name="end" type="datetime-local" required />
    </label>
    <label title="Clique para pesquisar suas reservas.">
        <span>&nbsp;</span>
        <button>Pesquisar</button>
    </label>
</form>


<div class="title">LISTA DE RESERVAS</div>

<div class="modal">
    <div class="header">
        <strong class="title">Cadastrar reservas</strong>
        <span class="material-icons close-modal">close</span>
    </div>
    <div class="content">
        <form class="cadastro-reservas">
            <label>
                <span>Nome</span>
                <input name="nome" required value="Wedson Santos" placeholder="Ex.: Wedson Santos" />
            </label>
            <label>
                <span>Telefone</span>
                <input name="telefone" required type="tel" value="(82) 98176 - 1793"
                    placeholder="Ex.: 82 98176 - 1793" />
            </label>
            <label>
                <span>Acomodação</span>
                <select name="acomodacao" required>
                    <option value="">Selecione</option>
                    {{#each anuncios}}
                    <option value="{{ nome }}">{{ nome }}</option>
                    {{/each}}
                </select>
            </label>
            <label>
                <span>Plataforma</span>
                <select name="plataforma" required>
                    <option value="">Selecione</option>
                    <option value="Airbnb">Airbnb</option>
                    <option value="Booking">Booking</option>
                    <option value="Outras">Outras</option>
                </select>
            </label>
            <label>
                <span>Valor estádia</span>
                <input name="preco" type="number" value="1000" placeholder="Ex.: 1000" required />
            </label>
            <label>
                <span>Valor Limpeza</span>
                <input type="number" name="preco_limpeza" value="90" placeholder="Ex.: 20" required/>
            </label>
            <label>
                <span>Check-in</span>
                <input name="check_in" type="datetime-local" required />
            </label>
            <label>
                <span>Check-in</span>
                <input name="check_out" type="datetime-local" required />
            </label>
            <label>
                <span>Hospedes</span>
                <input name="hospedes" type="number" value="6" required placeholder="Ex.: 6" />
            </label>
            <label>
                <span>&nbsp;</span>
                <button>Cadastrar</button>
            </label>
        </form>
    </div>
</div>
<div class="list">
    <table>
        <thead>
            <tr>
                <td width="4%"></td>
                <td width="12%">NOME</td>
                <td width="15%">ACOMODAÇÃO</td>
                <td width="7%">TELEFONE</td>
                <td width="7%">CHECK-IN</td>
                <td width="7%">CHECK-OUT</td>
                <td width="6%">PREÇO</td>
                <td width="6%">LIMPEZA</td>
                <td width="6%">HOSPEDES</td>
                <td width="6%">DIAS</td>
                <td width="12%">SITUAÇÃO</td>
                <td width="12%">LIMPEZA</td>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td title="Clique para deletar a reserva">
                    <span id="{{ _id }}" class="material-icons reservas">delete</span>
                </td>
                <td>{{nome}}</td>
                <td class="acomodacao">{{acomodacao}}</td>
                <td>
                    <a href="https://wa.me/55{{telefone }}" target="_blank"
                        title="Clique para acessar o whats app do hospede.">
                        {{telefone}}
                    </a>
                </td>
                <td>{{check_in}}</td>
                <td>{{check_out}}</td>
                <td>{{preco}}</td>
                <td>{{preco_limpeza}}</td>
                <td>{{hospedes}}</td>
                <td>{{dias}}</td>
                <td class="{{ situacao }}">{{situacao}}</td>
                <td id="{{_id }}" class="{{limpeza }} limpeza" situacao="{{limpeza }}"
                    title="Clique para alterar a status de limpeza.">
                    {{limpeza}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <p class="message">Nenhuma reserva cadastrada.</p>
</div>
<script src="/js/reservas.js"></script>